div {
    width: 300px;
    border: solid ;
    margin: 20px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    padding: 25px;
    padding-top: 0px;
    text-align:center;
}

/* Titles/Subtitles/labels */

h1 {
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
}

.mainMenuSub {
    font-family: 'Courier New', Courier, monospace;
}

label {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    display: block;
}

.convertButton:hover {
    background-color: skyblue;
}



/* Length Button */

.lengthForm {
    padding: 5px; 
    margin: auto; 
    
}

.lengthButton:hover {
    background-color: skyblue;
}

/* Temperature Button */

.temperatureForm {
    padding: 5px;
    margin: auto;
  
}

.temperatureButton:hover {
    background-color: skyblue;
}

/* Weight Button */

.weightForm {
    padding: 5px;
    margin: auto;
    
}

.weightButton:hover {
    background-color: skyblue;
}

